<mat-card>
    <h1>{{title}}</h1>
    <div *ngIf="miniOptions" class="options">
        <mat-grid-list #miniList [cols]="miniOptions.length" rowHeight="20px">
            <mat-grid-tile *ngFor="let miniOption of miniOptions"
                [style.background-color]="(miniOption.index == selectedMini ? 'green' : '')"
                (click)="miniClicked(miniOption.index)"
                (mouseover)="onMouseOverMiniTile(miniOption.index)"
                (mouseleave)="onMouseLeaveMiniTile(miniOption.index)">
            <img [src]=miniOption.img/>
            </mat-grid-tile>
        </mat-grid-list>
        <br>
    </div>
    <div class="options">
    <mat-grid-list #normList [cols]=columns rowHeight="100px" (change)="change()" class="normList" class="options">
            <mat-grid-tile *ngFor="let option of options"
                [style.background-color]="(option.index == selectedNorm ? 'green' : '')"
                (click)="clicked(option.index)"
                (mouseover)="onMouseOverTile(option.index)"
                (mouseleave)="onMouseLeaveTile(option.index)">
            <img [src]="option.storeImg ? option.storeImg : option.img"/>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <br>
</mat-card>