.coin {
    width: 20px;
    height: 20px;
    display: inline-block;
}

a {
    text-decoration: none;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    display: inline-flex;
}

.right {
    float: right;
}

nav {
    margin-bottom: 20px;
    min-width: 825px;
}
