.coin {
    width: 20px;
    height: 20px;
    display: inline-block;
}

#coinWrapper {
    width: 150px;
}

a {
    padding-right: 4%;
    text-decoration: none;
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

button:focus {
    outline:0;
}

button {
    width: 100px;
    height: 50px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.menu-toolbar {
    min-width: 700px;
	background-color: lightskyblue;
	color: white;
	min-height: 60px;
	align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
