.coin {
    width: 20px;
    height: 20px;
    display: inline-block;
}

a {
    text-decoration: none;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    display: inline-flex;
}

/* a:hover {
    color: rgba(0,0,0,.87);
} */

a:focus {
    color: rgba(0,0,0,.87);
}

.right {
    float: right;
}

nav {
    margin-bottom: 20px;
    min-width: 825px;
}
