h1, h3, h2, th{
    font-family: Georgia, "Times New Roman";
}

h1, h3{
    text-align: center;
    font-size: 28px;
}

table{
    border-collapse: collapse;
    margin-left:auto; 
    margin-right:auto;

    text-align:center; 
}

th, td{
    padding: 10px;
    border: 2px #666 solid;
    text-align: center;
}

span {
    background-color: green;
    width: max;
}

p {
    text-align: center;
}

.title {
    margin: auto;
    display: block;
    margin-bottom: 30px;
    height: 200px;
  }