
.container{
    background-repeat: no-repeat;
    background-image: url(/js/app/8221e90f9c2da2b1a58149ce8c942254.png);
    background-position: center;
    background-size: 1000px 790px;
    width: 1000px;
    height: 790px;
    cursor: url('/js/app/308281ede951b237bb229366f85dc6ad.png'), pointer;
}

.wrapper{
    padding-top: 100px;
    padding-left: 50px;
    width: 600px;
    margin: auto;
}