<br />
<h1>Games</h1>
<br />
<div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="33">
        <a [routerLink]="['math-bingo']">
            <img src="../../../assets/games/mathBingo/displayImage.png" />
            <p class="gameName">Math Bingo</p>
        </a>
    </div>
    <div fxFlex="33">
        <a [routerLink]="['pipes', 'math']">
            <img src="../../../assets/games/thumbnails/vocabulary_pipes_thumbnail.jpg" />
            <p class="gameName">Vocabulary Pipes</p>
        </a>
    </div>
    <div fxFlex="33">
        <a [routerLink]="['word-smith']">
            <img src="../../../assets/games/wordSmith/displayImg.png" />
            <p class="gameName">Word Smith</p>
        </a>
    </div>
</div>
<div fxLayout="row" fxLayout.xs="column">
   <div fxFlex="33">
        <a [routerLink]="['apple-drop']">
            <img src="../../../assets/games/thumbnails/apple_drop_thumbnail.png" />
            <p class="gameName">Apple Drop</p>
        </a>
    </div>
</div>
 <!-- <div fxFlex="33">
        <a [routerLink]="['typing']">
            <img src="../../../assets/games/Typing.jpg" />
            <p class="gameName">Typing</p>
        </a>
    </div>
    <div fxFlex="33">
        <a [routerLink]="['vocab-match']">
            <img src="../../../assets/games/VocabMatch.jpg" />
            <p class="gameName">Vocab Match</p>
        </a>
    </div> -->
<div class="test"></div>
